@import '../../styles/variables.css';
@import '../../styles/mixin.css';

.left_page{
  width: 280px;
  padding: 6px;
  .top_container{
    &>img{
      width: 100%;
    }
  }
  .bottom_container{

  }
}