@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.left_page{
  width: 280px;
  padding: 6px;
  .top_container{
    &>img{
      width: 100%;
    }
    .hide_balance{
      color: $text-color;
    }
  }
  .bottom_container{

  }
}